.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
}

.project-card {
    position: relative;
    z-index: 5;
    /* Added z-index for project cards */
    background-color: var(--bg-secondary);
    padding: 2rem 1.75rem;
    border-radius: 4px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    height: 100%;
    display: flex;
    flex-direction: column;
    cursor: default;
}

.project-card:hover {
    transform: translateY(-7px);
    box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.folder-icon {
    color: var(--accent);
}

.card-links {
    display: flex;
    gap: 1rem;
}

.card-links a {
    color: var(--text-secondary);
    transition: all 0.2s;
}

.card-links a:hover {
    color: var(--accent);
}

.project-title {
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--text-primary);
}

.project-title a {
    color: var(--text-primary);
    text-decoration: none;
    transition: color 0.3s;
}

.project-title a:hover {
    color: var(--accent);
}

.project-description {
    color: var(--text-secondary);
    font-size: 1rem;
    margin-bottom: 1.5rem;
    flex-grow: 1;
}

.project-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    padding: 0;
    list-style: none;
    font-family: inherit;
    font-size: 0.8rem;
    color: var(--text-secondary);
}

.project-tags li {
    color: var(--accent);
    /* Optional: different color for tags? */
    opacity: 0.8;
}